<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
	- Application context definition for JPetStore's data access layer.
	- Accessed by business layer objects defined in "applicationContext.xml"
	- (see web.xml's "contextConfigLocation").
	-
	- This version of the data access layer works on a combined database,
	- using a local DataSource with DataSourceTransactionManager. It does not
	- need any JTA support in the container: It will run as-is in plain Tomcat.
-->
<beans>

	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
	<!--
		-  
	-->
	<!-- Generic DAO - can be used when doing standard CRUD -->
    <bean id="wzglMgmImpl" parent="txProxyTemplate">
		<property name="target">
			<bean  class="com.sgepit.pmis.wzgl.service.WZGLMgmImpl">
        		<property name="wzglDAO" ref="wzglDAO"/>
        	</bean>
		</property>	
    </bean>
    
    
    <bean id="wzBaseInfoMgmImpl" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.sgepit.pmis.wzgl.service.WzBaseInfoMgmImpl">
        	<property name="wzglDAO" ref="wzglDAO"/>
        </bean>
		</property>	
    </bean>
    
	<!--  implementation -->
    <bean id="wzglDAO" class="com.sgepit.pmis.wzgl.dao.WZglDAO">
		<property name="sessionFactory" ref="sessionFactory1" />
    </bean>    
    
    <bean id="ViewWzCollectApplyDAO" class="com.sgepit.pmis.wzgl.dao.ViewWzCollectApplyDAO">
		<property name="sessionFactory" ref="sessionFactory1" />
    </bean>
    <bean id="StockMgm"  parent="txProxyTemplate">
		<property name="target">
			<bean class="com.sgepit.pmis.wzgl.service.StockMgmImpl">
				<property name="viewWzCollectApplyDAO" ref="ViewWzCollectApplyDAO" />
				<property name="wzglDAO" ref="wzglDAO"/>		
			</bean>
		</property>
	</bean>	 
	
    <bean id="StorageMgmImpl"  parent="txProxyTemplate">
		<property name="target">
			<bean class="com.sgepit.pmis.wzgl.service.StorageMgmImpl">
				<property name="wzglDAO" ref="wzglDAO"/>		
			</bean>
		</property>
	</bean>	 
    
</beans>
