<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "dtd/spring-beans-2.0.dtd">

<beans>
    <import resource="applicationContext-hibernate.xml"/>
    <import resource="applicationContext-common.xml"/>
    <import resource="applicationContext-IoC.xml"/>
    
    <import resource="applicationContext-budget.xml"/>
    <import resource="applicationContext-coninvested.xml"/>
    <import resource="applicationContext-contract.xml"/>
    <import resource="applicationContext-document.xml"/>
    <import resource="applicationContext-equipment.xml"/>
    <import resource="applicationContext-flow.xml"/>
    <import resource="applicationContext-gczl.xml"/>
    <import resource="applicationContext-material.xml"/>
    <import resource="applicationContext-rlzy.xml"/>
    <import resource="applicationContext-routine.xml"/>
    <import resource="applicationContext-safemanage.xml"/>
    <import resource="applicationContext-safetylocal.xml"/>
    <import resource="applicationContext-sysmanage.xml"/>
    <import resource="applicationContext-tenders.xml"/>
    <import resource="applicationContext-wzgl.xml"/>
    <import resource="applicationContext-zlaq.xml"/>    
    <import resource="applicationContext-design.xml"/>
    <import resource="applicationContext-fileAndPublish.xml"/>
    <import resource="applicationContext-vehicle.xml"/>
    <import resource="applicationContext-planMgm.xml"/>
    <import resource="applicationContext-comp.xml"/>
    <import resource="applicationContext-budgetNk.xml" />
    <import resource="applicationContext-finalAccounts.xml" />
    <import resource="applicationContext-pc-zhxx.xml" />
    <import resource="applicationContext-pc-aqgk.xml" />
    <import resource="applicationContext-pc-tzgl.xml" />
    <import resource="applicationContext-pc-approvl.xml"/>  
    <import resource="applicationContext-pc-budget.xml" /> 
    <import resource="applicationContext-pc-balance.xml" />
    <import resource="applicationContext-pc-contract.xml" />
    <import resource="applicationContext-pc-zlgk.xml"/>
    <import resource="applicationContext-pc-bid.xml" />
    <import resource="applicationContext-pc-warn.xml"/>
    <import resource="applicationContext-pc-jdgk.xml" />
    <import resource="applicationContext-xgridTemplet.xml"/>
    <import resource="applicationContext-reimburse.xml"/>
    <import resource="applicationContext-pc-dynamicdata.xml"/>
    <import resource="applicationContext-sczb.xml"/>
    <import resource="applicationContext-news.xml"/>    
    <import resource="applicationContext-weekworkmanagement.xml"/>   
    <import resource="applicationContext-rzgl.xml"/> 
    
</beans>