.gridTitle{
	font-size:17px;
	color : #3764A0;
	padding-left : 8px;
}

.x-form-unit {  
            height: 22px;  
            line-height: 22px;  
            padding-left: 2px;  
            display: inline-block;  
            display: inline;  
        }  