.bea-portal-body
{
    margin: 0px;
    padding: 0px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#d0ebe2);
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.middle-portlet-table-list
{  
   padding-left:0px; 
	
	height:25px;
}

.middle-portlet-table-list-swap
{  
   padding-left:0px; 

	height:25px;
}
.bea-portal-body a
{
    display: inline;
    text-decoration: none;
    color:#9c2e2a;
    font-size:12px;
}

.bea-portal-body a:hover
{
    text-decoration: underline;
    color:green;
    font-size:12px;
}
.bea-portal-body td
{    
    font-size:12px;
}
.bea-portal-body div
{    
    font-size:12px;
}