<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
					    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
					    http://www.directwebremoting.org/schema/spring-dwr 
						http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list><value>classpath:jdbc.properties</value></list>
		</property>
	</bean>
	
	<bean id="dataSource1"  
		class="com.sgepit.frame.base.env.ProxoolDataSourceExt">
		<property name="driver">
			<value>${jdbc.driver}</value>
		</property>
		<property name="driverUrl">
			<value>${jdbc.driverUrl}</value>
		</property> 
		<property name="user">
			<value>${jdbc.user}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="delegateProperties">
			<value>${jdbc.delegateProperties}</value>
		</property>
		<property name="alias">
			<value>${jdbc.alias}</value>
		</property>
		<property name="maximumConnectionCount">
			<value>200</value>
		</property>
		<property name="minimumConnectionCount">
			<value>0</value>
		</property>
		<property name="houseKeepingSleepTime">
			<value>30000</value>
		</property>
		<property name="maximumActiveTime">
			<value>3000000</value>
		</property>
		<property name="prototypeCount">
			<value>5</value>
		</property>
		<property name="trace">
			<value>true</value>
		</property>
		<property name="verbose">
			<value>true</value>
		</property>
		<property name="statistics">
			<value>1m,15m,1d</value>
		</property>
	</bean>
	<bean id="sessionFactory1"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource1" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.OracleDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.provider_class">
					org.hibernate.cache.EhCacheProvider
				</prop>
			</props>
		</property>
		<property name="mappingLocations">
			<list>
				<value>classpath:com/imfav/business/*/hbm/*.hbm.xml</value>
				<!-- frame jar -->
				<value>classpath:com/hzkjframehibernatexml/*.hbm.xml</value>
			</list>
		</property>
	</bean>	
    
    <bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory1"></property>
	</bean>
	<bean id="txProxyTemplate" abstract="true" 
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"> 
        <property name="transactionManager" ref="transactionManager"/> 
        <property name="transactionAttributes"> 
            <props>               
				<prop key="*">PROPAGATION_REQUIRED,-BusinessException</prop> 
            </props> 
        </property>
    </bean>
	
	<aop:config>
		<aop:advisor
			pointcut="execution(* *..service.*.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<tx:advice id="txAdvice">
		<tx:attributes>
			<!--   
			<tx:method name="get*" read-only="true" propagation="NOT_SUPPORTED" />
			<tx:method name="load*" read-only="true" propagation="NOT_SUPPORTED" />
			<tx:method name="find*" read-only="true" propagation="NOT_SUPPORTED" />
			-->
			<tx:method name="*" propagation="REQUIRED" rollback-for="com.sgepit.frame.base.BusinessException" />
		</tx:attributes>
	</tx:advice>
 	<dwr:configuration></dwr:configuration>
</beans>
