<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
					    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
					    http://www.directwebremoting.org/schema/spring-dwr 
						http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list><value>classpath:jdbc.properties</value></list>
		</property>
	</bean>
	
	<bean id="dataSource1"  
		class="com.sgepit.frame.base.env.ProxoolDataSourceExt">
		<property name="driver">
			<value>${jdbc.driver}</value>
		</property>
		<property name="driverUrl">
			<value>${jdbc.driverUrl}</value>
		</property> 
		<property name="user">
			<value>${jdbc.user}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="delegateProperties">
			<value>${jdbc.delegateProperties}</value>
		</property>
		<property name="alias">
			<value>${jdbc.alias}</value>
		</property>
		<property name="maximumConnectionCount">
			<value>200</value>
		</property>
		<property name="minimumConnectionCount">
			<value>0</value>
		</property>
		<property name="houseKeepingSleepTime">
			<value>30000</value>
		</property>
		<property name="maximumActiveTime">
			<value>3000000</value>
		</property>
		<property name="prototypeCount">
			<value>5</value>
		</property>
		<property name="trace">
			<value>true</value>
		</property>
		<property name="verbose">
			<value>true</value>
		</property>
		<property name="statistics">
			<value>1m,15m,1d</value>
		</property>
	</bean>
	<bean id="sessionFactory1"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource1" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.OracleDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.provider_class">
					org.hibernate.cache.EhCacheProvider
				</prop>
			</props>
		</property>
		<property name="mappingLocations">
			<list>
				<!-- start	业务模块 -->
				
				<!-- start 综合信息管理 -->
				<value>classpath:com/sgepit/pcmis/zhxx/hbm/*.hbm.xml</value>
				<value>classpath:com/sgepit/pmis/routine/hbm/*.hbm.xml</value>
				<!-- end 综合信息管理 -->
				
				<!-- start 安全管控 -->
				<value>classpath:com/sgepit/pcmis/aqgk/hbm/*.hbm.xml</value>
				<!-- end  安全管控 -->
				
				<!-- start 投资管理 -->
				<value>classpath:com/sgepit/pcmis/tzgl/hbm/*.hbm.xml</value>
				<!-- end 投资管理 -->
				
				
				<!-- start 招投标管理 -->
				<value>classpath:com/sgepit/pcmis/bid/hbm/*.hbm.xml</value>
				<!-- end 招投标管理 -->
	
				<!-- start 概算管理 -->
				<value>classpath:com/sgepit/pmis/budget/hbm/*.hbm.xml</value>
				<value>classpath:com/sgepit/pmis/budgetNk/hbm/*.hbm.xml</value>
				
				<!-- end 概算管理 -->
				
				<!-- start 结算管理 -->
				<value>classpath:com/sgepit/pcmis/balance/hbm/*.hbm.xml</value>
				<!-- start 结算管理 -->
				
				<!-- start 合同管理 -->
				<value>classpath:com/sgepit/pmis/contract/hbm/*.hbm.xml</value>
				<!-- end 合同管理-->
				
				<!-- start 物资-->
				<value>classpath:com/sgepit/pmis/material/hbm/*.hbm.xml</value>
				<value>classpath:com/sgepit/pmis/wzgl/hbm/*.hbm.xml</value>
				<!-- end 物资-->
				
				<!-- start 设备 -->
				<value>classpath:com/sgepit/pmis/equipment/hbm/*.hbm.xml</value>
				<!-- end 设备 -->
				
				<!-- start 安监管理 -->
				<value>classpath:com/sgepit/pmis/safeManage/hbm/*.hbm.xml</value>	
				<!-- end 安监管理 -->
				
				<!-- start 文件管理 -->
				<value>classpath:com/sgepit/fileAndPublish/hbm/*.hbm.xml</value>	
				<!-- end 文件管理 -->
				
				<!-- start 资料档案管理 -->
				<value>classpath:com/sgepit/pmis/document/hbm/*.hbm.xml</value>
				<!-- end 资料档案管理 -->
				
				<!-- start 计划 -->
				<value>classpath:com/sgepit/pmis/planMgm/hbm/*.hbm.xml</value>		
				<!-- end 计划 -->
				
				<!-- start 投资完成 -->
				<value>classpath:com/sgepit/pmis/investmentComp/hbm/*.hbm.xml</value>		
				<!-- end 投资完成 -->
				
				<!-- start 工程进度 -->
				<value>classpath:com/sgepit/pmis/gantt/hbm/*.hbm.xml</value>
				<value>classpath:com/sgepit/pcmis/jdgk/hbm/*.hbm.xml</value>
				<!--  end 工程进度 -->
				
				<!-- start 工程质量 -->
				<value>classpath:com/sgepit/pmis/gczl/hbm/*.hbm.xml</value>		
				<!-- end 工程质量 -->
				
				<!-- start	竣工决算 -->
				<value>classpath:com/sgepit/pmis/finalAccounts/basicData/hbm/*.hbm.xml</value>		
				<value>classpath:com/sgepit/pmis/finalAccounts/bdgStructure/hbm/*.hbm.xml</value>		
				<value>classpath:com/sgepit/pmis/finalAccounts/finance/hbm/*.hbm.xml</value>		
				<value>classpath:com/sgepit/pmis/finalAccounts/financialAudit/hbm/*.hbm.xml</value>		
				<value>classpath:com/sgepit/pmis/finalAccounts/prjGeneralInfo/hbm/*.hbm.xml</value>		
				<value>classpath:com/sgepit/pmis/finalAccounts/report/hbm/*.hbm.xml</value>		
				<value>classpath:com/sgepit/pmis/finalAccounts/complete/hbm/*.hbm.xml</value>		
				<!-- end 	竣工决算 -->
				
				<!-- start 批文管理 -->
				<value>classpath:com/sgepit/pcmis/approvl/hbm/*.hbm.xml</value>		
				<!-- end 批文管理 -->
				<!-- end -->
				<!-- 预警管理 -->
				<value>classpath:com/sgepit/pcmis/warn/hbm/*.hbm.xml</value>
				<!-- 预警管理 -->
				
				<!-- start 质量管控 -->
				<value>classpath:com/sgepit/pcmis/zlgk/hbm/*.hbm.xml</value>		
				<!-- end 质量管控 -->
				
				<!-- xgrid模板配置 -->
				<value>classpath:com/sgepit/frame/xgridTemplet/hbm/*.hbm.xml</value>				
				<!-- xgrid模板配置 -->
				
				<!--报销 -->
				<value>classpath:com/sgepit/pmis/reimburse/hbm/*.hbm.xml</value>				
				<!-- 报销 -->
				
				<!-- 设计管理 -->
				<value>classpath:com/sgepit/pmis/design/hbm/*.hbm.xml</value>
				<!-- 设计管理 -->
				
				<!-- 动态数据展示 -->
				<value>classpath:com/sgepit/pcmis/dynamicview/hbm/*.hbm.xml</value>
				<!-- 动态数据展示 -->
				
				<!-- 人资管理 -->
				<value>classpath:com/sgepit/pmis/rlzj/hbm/*.hbm.xml</value>
				<!-- 人资管理 -->
				
				<!-- 业务公共映射 -->
				<value>classpath:com/sgepit/pcmis/common/hbm/*.hbm.xml</value>
				<!-- 业务公共映射 -->
				
				<!-- 值班管理-->
				<value>classpath:com/sgepit/pmis/sczb/hbm/*.hbm.xml</value>
				<!-- 值班管理-->
				
				<!--新闻管理  -->
		         <value>classpath:com/sgepit/pmis/news/hbm/*.hbm.xml</value>
		        <!-- 新闻管理 -->
				<!--车辆管理  -->
		         <value>classpath:com/sgepit/pmis/vehicle/hbm/*.hbm.xml</value>
		        <!-- 车辆管理  -->
				<!--周工作事项管理  -->
		         <value>classpath:com/sgepit/pmis/weekworkmanagement/hbm/*.hbm.xml</value>
		        <!-- 周工作事项管理  -->
				<!-- frame jar -->
				<value>classpath:com/hzkjframehibernatexml/*.hbm.xml</value>
				<!-- 日志管理 -->
				<value>classpath:com/sgepit/pmis/rzgl/hbm/*.hbm.xml</value>
			</list>
		</property>
	</bean>	
    
    <bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory1"></property>
	</bean>
	<bean id="txProxyTemplate" abstract="true" 
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"> 
        <property name="transactionManager" ref="transactionManager"/> 
        <property name="transactionAttributes"> 
            <props>               
				<prop key="*">PROPAGATION_REQUIRED,-BusinessException</prop> 
            </props> 
        </property>
    </bean>
	
	<aop:config>
		<aop:advisor
			pointcut="execution(* *..service.*.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<tx:advice id="txAdvice">
		<tx:attributes>
			<!--   
			<tx:method name="get*" read-only="true" propagation="NOT_SUPPORTED" />
			<tx:method name="load*" read-only="true" propagation="NOT_SUPPORTED" />
			<tx:method name="find*" read-only="true" propagation="NOT_SUPPORTED" />
			-->
			<tx:method name="*" propagation="REQUIRED" rollback-for="com.sgepit.frame.base.BusinessException" />
		</tx:attributes>
	</tx:advice>
 	<dwr:configuration></dwr:configuration>
</beans>
