<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
	- Application context definition for JPetStore's data access layer.
	- Accessed by business layer objects defined in "applicationContext.xml"
	- (see web.xml's "contextConfigLocation").
	-
	- This version of the data access layer works on a combined database,
	- using a local DataSource with DataSourceTransactionManager. It does not
	- need any JTA support in the container: It will run as-is in plain Tomcat.
-->
<beans>
	<bean id="PCAqgkServiceImpl" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.sgepit.pcmis.aqgk.service.PCAqgkServiceImpl">
        		<property name="aqgkDAO" ref="aqgkDAO"/>
        	</bean>
		</property>
    </bean>
    
	<bean id="aqgkDAO" class="com.sgepit.pcmis.aqgk.dao.AqgkDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory1"></ref>
		</property>
	</bean>

</beans>
