<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
	- Application context definition for JPetStore's data access layer.
	- Accessed by business layer objects defined in "applicationContext.xml"
	- (see web.xml's "contextConfigLocation").
	-
	- This version of the data access layer works on a combined database,
	- using a local DataSource with DataSourceTransactionManager. It does not
	- need any JTA support in the container: It will run as-is in plain Tomcat.
-->
<beans>

	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
	<!--
		-  
	-->
	<!-- Generic DAO - can be used when doing standard CRUD -->
    <bean id="zlMgm" class="com.sgepit.pmis.document.service.ZlGlMgmImpl">
        <property name="zlglDAO" ref="zlglDAO"/>
    </bean>
	<!--  implementation -->
    <bean id="zlglDAO" class="com.sgepit.pmis.document.dao.ZlGlDAO">
		<property name="sessionFactory" ref="sessionFactory1" />
    </bean>
    <bean id="zldaMgm" class="com.sgepit.pmis.document.service.ZlDAMgmImpl">
		<property name="zlglMgm" ref="zlMgm" />
	</bean>	

</beans>
