.name{
	width:290px;
	height:23px;
	position:absolute;
	top:24px;
	left:582px;
	z-index:10000;
}

span.blueCircle_mSel_main {
	overflow:hidden;
	margin:0;
	padding:0 20px 0 20px;
	background:url(images/blueCircle_bg.jpg) no-repeat;
	vertical-align:middle;
	text-align:left;
	cursor:pointer;
	font:12px/28px Arial, Helvetica, sans-serif;
	color:#F3CC83;
	width:198px;
	height:28px;
	zoom:1;
	display:inline-block;
	z-index:10000;
}
.blueCircle_mSel_list {
	display:none;
	margin:0px 0 0;
	padding:0;
	list-style:none;
	text-align:left;
	font-size:13px;
	width:198px;
	z-index:10008;
}
.blueCircle_mSel_list li {
	background-color:#fcfcfc;
	border:#640000 solid;
	border-width:0 2px;
	height:25px;
}
.blueCircle_mSel_list li.mSel_start {
	line-height:0;
	font-size:0;
	height:5px;
}
.blueCircle_mSel_list li.mSel_end {
	background:url(images/blueCircle_bg.jpg) no-repeat left bottom;
	border:none;
	font-size:0;
	line-height:0;
	height:2px;
}
.blueCircle_mSel_list li a {
	display:block;
	overflow:hidden;
	padding:0 10px;
	line-height:25px;
	text-decoration:none;
	color:#BA851F;
	height:25px;
}
.blueCircle_mSel_list li a:hover {
	background-color:#B17B21;
	color:#fff;
}
.blueCircle_mSel_list li.mSel_on a {
	background-color:#CC0D12;
	color:#fff;
}
.blueCircle_mSel_list li a.mSel_disable {
	font-style:italic;
}
.blueCircle_mSel_list li a.mSel_disable:hover {
	background:none;
	color:#BA851F;
}


