/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------body--------------------*/

/*------------------------------------------------top--------------------*/
#top{
	width:100%px;
	height:100px;
	margin:0;
	padding:0;
	background:url(images/fg_02.jpg) 0 0 repeat-x;
}
#top img.logo{
	margin:0;
	padding:0;
	width:730px;
	height:71px;
}
#top .right_nav{
	background:url(images/top_right_bg.jpg) no-repeat;
	width:290px;
	height:23px;
	position:absolute;
	top:10px;
	right:0;
}
#top .proj_name{
	height:23px;
	width:290px;
	position:absolute;
	top:35px;
	text-align:right; 
	right:15px;
	font:italic normal bolder 12pt Arial;
}
#top .right_nav a{
	display:block;
	font:12px/18px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#666666;
}
#top .right_nav a:hover{
	color:#CB0D12;
	text-decoration:underline;
}
#top .topNav {
	width:90%;
	height:29px;
	position:absolute;
	left:29px;
	top:71px;
	padding:0;
	  
      }
#top .topNav ul {
	margin:0;
	padding:0x;
	float:left;
	list-style:none;
  }
#top .topNav li {
	display:inline;
	float:left;
	margin:0;
	padding:0;
	height:29px;
	background:url(images/fg_06.jpg) right top no-repeat;
  }
#top .topNav a {
	float:left;
	background:url(images/fg_03.jpg) no-repeat left top;
	font: bold 11pt/29px Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
  }
#top .topNav a span {
	float:left;
	display:block;
	background:url(images/fg_04.jpg) no-repeat right top;
	padding:0 15px 0 10px;
	color:#FAEDB1;
	height:29px;
  }
#top .topNav a:hover span {
	color:#333333;
  }
#top .topNav a:hover {
	background-position:0% -29px;
  }
#top .topNav a:hover span {
	background-position:100% -29px;
  }
#top .topNav a.hover{
	background-position:0% -29px;
}
#top .topNav a.hover span {
	background-position:100% -29px;
	color:#000;
	font-weight:bold;
  }
 
 /*------------------------------------------------main--------------------*/
#main{
	width:100%;
	margin:0;
	padding:0;
}
#main_bg{
	width:100%;
	height:479px;
	margin:0;
	padding:0;
	background:url(images/fg_07.jpg) 0 0 repeat-x;
	position:absolute;
	right:0;
	bottom:0;
}
#main_bg .right_pic{
	width:1024px;
	height:439px;
	position:absolute;
	right:0;
	bottom:0;
}
#main_bg .bq{
	width:550px;
	height:78px;
	background:url(images/fg_09.jpg) 0 0 no-repeat;
	position:absolute;
	left:45px;
	bottom:18px;
	z-index:1000;
}
#main_bg .bq a{
	display:block;
	font:12px/16px Arial, Helvetica, sans-serif;
	color:#333;
	padding:8px 0 0 100px;
	text-decoration:none;
}
#main_bg .bq a:hover{
	color:#FF0000;
	text-decoration:none;
}
#main_bg .bq a span{
	font:12px/24px Arial, Helvetica, sans-serif;
	color:#FF0000;
	text-decoration:underline;
	padding:0 4px;
}
#main .main_button{
	width:900px;
	height:50px;
	position:relative;
	top:77px;
	left:70px;
	z-index:2000;
}
/*------------------------------------------------main--------------------*/
  
  


  