/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------body--------------------*/

/*------------------------------------------------top--------------------*/
#headerDiv{
	width:100%;
	height:160px;
	margin:0;
	padding:0;
	background:url(./images/jt_02.jpg) 0 0 repeat-x;
}
#headerDiv .logo{
	margin:0;
	padding:0;
	width:600px;
	height:132px;
	background:url(./images/logo2014.jpg) no-repeat;
}
#headerDiv .logo2{
	background:url(./images/logo2.jpg) no-repeat;
	width:381px;
	height:132px;
	position:absolute;
	top:0;
	right:0;
}
#headerDiv .right_nav{
	font:12px/18px "宋体";
	color:#7d7d7d;
	background:url(./images/top_right_bg.jpg) no-repeat;
	width:230px;
	height:23px;
	position:absolute;
	top:70px;
	right:10px;
}

#headerDiv .right_nav a{
	font:12px/18px "宋体";
	margin:0 5px;
	text-decoration:none;
	color:#7d7d7d;
}
#headerDiv .right_nav a:hover{
	color:#DF0F14;
	text-decoration:underline;
}
/* Ext*/
#naviHeader .x-tab-strip-top .x-tab-right {
	background: transparent none repeat scroll 0% 0% !important;
   	padding-left:10px;
}
#naviHeader .x-tab-strip-top .x-tab-left {
	background: transparent none repeat scroll 0% 0% !important;
    padding-right:10px;
    border-left:thin
}
#naviHeader .x-tab-strip-top .x-tab-strip-inner {
	background: transparent none repeat scroll 0% 0% !important;
}
#naviHeader .x-tab-strip span.x-tab-strip-text {
	color: white;
	font-size:14px;
}
#naviHeader .x-tab-strip-active {
    cursor:move ;
	color: blue  !important;
}
#naviHeader .x-tab-strip-active span.x-tab-strip-text{
	color: red  !important;
	font-weight:bold;
	font-size:14px;
}
#naviHeader .x-tab-strip-active a.x-tab-right {
	background: transparent url(/ext2/resources/images/gray/tabs/tabs-sprite.gif) no-repeat 0 -51px !important;
	padding-left:10px;
}
#naviHeader .x-tab-strip-active em.x-tab-left {
	background: transparent url(/ext2/resources/images/gray/tabs/tabs-sprite.gif) no-repeat right -351px !important;
	padding-right:10px;
}
#naviHeader .x-tab-strip-active span.x-tab-strip-inner {
	background: transparent url(/ext2/resources/images/gray/tabs/tabs-sprite.gif) repeat-x 0 -201px !important;
}

.maxWin {
    background-image:url(../../jsp/res/images/shared/icons/maxwin.png) !important;
}
.minWin {
    background-image:url(../../jsp/res/images/shared/icons/minwin.png) !important;
}
.returnTo {
    background-image:url(../../jsp/res/images/shared/icons/rss_go.png) !important;
}